@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  :root {
    --background: 212 33% 14%;
    --foreground: 210 40% 98%;

    --card: 212 30% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 212 30% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 100% 74%;
    --primary-foreground: 212 33% 10%;

    --secondary: 212 30% 22%;
    --secondary-foreground: 210 40% 98%;

    --muted: 212 30% 22%;
    --muted-foreground: 210 40% 60%;

    --accent: 290 66% 66%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 212 30% 25%;
    --input: 212 30% 25%;
    --ring: 182 100% 74%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 212 33% 14%;
    --foreground: 210 40% 98%;

    --card: 212 30% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 212 30% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 100% 74%;
    --primary-foreground: 212 33% 10%;

    --secondary: 212 30% 22%;
    --secondary-foreground: 210 40% 98%;

    --muted: 212 30% 22%;
    --muted-foreground: 210 40% 60%;

    --accent: 290 66% 66%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 212 30% 25%;
    --input: 212 30% 25%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
